<!DOCTYPE html>
<html>

<head>
    <title>Gemini Cryptocurrency Index User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/dash_style.css">
    <!-- Include Plotly.js library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <header>
        <h1>Gemini Cryptocurrency Index User Dashboard</h1>
        <nav>
            <ul>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Historical Performance</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <h2 class="greeting">Hello, {{ user_data.user_name }}</h2>

    <section class="total-portfolio">
        <h2>Your Portfolio Value</h2>
        <p class="portfolio-value large-value">${{ session.total_fund | default(0) | format_currency }}</p>
    </section>

    <section class="subscription-info">
        <h2>Your Cryptocurrency Index Fund Information</h2>
        <p><strong>Selected Index:</strong> {{ user_data.eft.etf_name }}</p>
        <p><strong>Index Detail:</strong> {{ user_data.eft.etf_detail }}</p>
    </section>

    <section class="portfolio">
        <h2>Your Portfolio</h2>
        <table>
            <tr>
                <th>Cryptocurrency</th>
                <th>Amount Owned</th>
                <th>Current Price</th>
                <th>Value</th>
            </tr>
            <!-- Loop through user's cryptocurrency holdings and display them -->
            {% for holding in user_data.portfolio %}
            <tr>
                <td>{{ holding.cryptocurrency }}</td>
                <td>{{ holding.amount_owned }}</td>
                <td>${{ holding.current_price | format_currency(decimal_num=2) }}</td>
                <td>${{ holding.value | format_currency(decimal_num=2) }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section class="port-distribution">
        <h2>Portfolio Distribution</h2>
        <div id="portfolio-pie"></div>
    </section>


    <script>
        // Access user_data from the template context
        const user_data = {{ user_data | tojson | safe }};

        // Function to format numbers as currency
        function formatCurrency(value) {
            return new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
            }).format(value);
        }
        // user_data.portfolio.forEach(holding => {
        //     holding.value = formatCurrency(holding.value);
        // });


        // <!-- Display live cryptocurrency market data, charts, etc. -->
        function updatePortfolioDistribution() {
            const labels = user_data.portfolio.map(holding => holding.cryptocurrency);
            const values = user_data.portfolio.map(holding => holding.value);

            const trace = {
                labels: labels,
                values: values,
                type: 'pie'
            };
            const layout = {
                title: 'Portfolio Distribution',
                width: 400, // Adjust the width as needed
                height: 400, // Adjust the height as needed
            };
            Plotly.newPlot('portfolio-pie', [trace], layout);
        }

        // Initial data update
        updatePortfolioDistribution(user_data);

    </script>
</body>

</html>