<!DOCTYPE html>
<html>

<head>
    <title>Cryptocurrency Trader Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/dash_style.css">
</head>

<body>
    <header>
        <h1>Cryptocurrency Trader Dashboard</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Portfolio Distribution</a></li>
                <li><a href="#">Historical Performance</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <section class="portfolio">
        <h2>Your Portfolio</h2>
        <table>
            <tr>
                <th>Cryptocurrency</th>
                <th>Amount Owned</th>
                <th>Current Price</th>
                <th>Value</th>
            </tr>
            <!-- Loop through user's cryptocurrency holdings and display them -->
            {% for holding in user_data.portfolio %}
            <tr>
                <td>{{ holding.cryptocurrency }}</td>
                <td>{{ holding.amount_owned }}</td>
                <td>{{ holding.current_price }}</td>
                <td>{{ holding.value }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <section class="port-distribution">
        <h2>Portfolio Distribution</h2>
    </section>


    <script>
        // <!-- Display live cryptocurrency market data, charts, etc. -->
        function updatePortfolioDistribution(user_data = user_data) {
            const labels = user_data.portfolio.map(holding => holding.cryptocurrency);
            const values = user_data.portfolio.map(holding => holding.value);

            const trace = {
                labels: labels,
                values: values,
                type: 'pie'
            };
            const layout = {
                title: 'Portfolio Distribution',
            };
            Plotly.newPlot('portfolio-pie', [trace], layout);
        }

        // Initial data update
        updatePortfolioDistribution(user_data);

    </script>
</body>

</html>