<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login Form Design | CodeLab</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<!-- <body>
    <div class="wrapper">
        <div class="title">
            Login Form
        </div>
        <form method="POST" action="/login">
            <div class="field">
                <input type="text" required>
                <label>Username</label>
            </div>
            <div class="field">
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="field">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</body> -->

<body>
    <div class="wrapper">
        <div class="title">
            Login Form
        </div>
        <form method="post" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <div class="field">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</body>

</html>